.Sidebar {
    margin-top: 40px;
    margin-left: 100px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    height: 80%;
    width: 200px;
   
}

.SidebarList {
    height: 100%;
    padding: 5px 10px; 
    width: 90%;  
}

.SidebarList .row {
    margin-top: 50px;
    width: 100%;
    height: 50px;
    background-color: #fff;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.row #icon{
    flex: 70px;
    display: grid;
    place-items: center;
}
.row #title{
    flex: 70%;
}