.Rightbar{
    margin-top: -590px;
    margin-left:1040px;
    padding: 20vh;
    width: 1vh;
    height: 38vh;;
}
.Right-Top{
    margin-top: -150px;
    margin-left: -130px;
    width: 180px;
    word-spacing: 30px;
    display: flex;
    /* background-color: aliceblue; */
}
.Right-center{
    margin-top: -8px;
    margin-left:-130px ;
    width: 38vh;
    height: 70vh;
}
.Right-center1{
    margin-top: -310px;
    margin-left:-130px ;
    width: 38vh;
    height: 70vh;
}
.Right-center2{

    margin-top: -310px;
    margin-left:-130px ;
    width: 38vh;
    height: 70vh;
}


.item15{
    margin-left: -10px;
    width: 290px;
    height: 180px;
    border-radius: 15px;
}
.item16{
    margin-top: -110px;
    margin-left: 5px;
    width: 50px;
    height: 50px;
    border: 4px solid white;
    border-radius: 8px ;
    padding:  0px 0px 0px 0;;
}
.holder{
    margin-top: -80px;
    margin-left: 70px;
    color: aliceblue;
    font-size: large;
}
.mentioned{
    color: aliceblue;
    margin-top: 5px;
    margin-left: 65px;
    font-size: medium;
}
.p12{
    margin-top: -65px;
    margin-left: 42px;
    text-shadow: 2px 4px 6px rgb(255, 255, 255);
    border: 5px solid white;
    color: rgb(32, 218, 106);
}